<mat-card class="perfil-card">


       @if(paciente){
                <img mat-card-avatar 
                [src]="paciente.ImagenesDePerfil[0]" 
                class="avatar">
                <img mat-card-avatar 
                [src]="paciente.ImagenesDePerfil[1]" 
                class="avatar">
       }
       @else{
            <img mat-card-avatar 
            [src]="usuario?.ImagenesDePerfil " 
            class="avatar">
       }

  <mat-card-title>
    {{ usuario?.Nombre }} {{ usuario?.Apellido }}
  </mat-card-title>

  <mat-card-subtitle>
    Rol: {{ usuario?.rol | titlecase }}
  </mat-card-subtitle>

  <mat-divider></mat-divider>

  <mat-card-content>

    <!-- DATOS COMUNES PARA TODOS -->
    <h3>Datos Personales</h3>
    @if(usuario?.DNI){
         <p>DNI: {{ usuario!.DNI | formatearDNI  }}</p>
    }
    <p>Edad: {{ usuario?.Edad }}</p>

    <!-- ESPECIALISTA: ESPECIALIDADES -->
     @if(especialista){
        <div>
            <h3>Especialidades</h3>
            <mat-chip-listbox  selectionRequired >
                @for( esp of especialista.especialidad ; track $index){
                    @if($index==0){
                    <mat-chip-option (selectionChange)="onEspecialidadSeleccionada(esp, $event)" [selected]="esp === especialidadSeleccionada" >{{ esp | uppercase}}</mat-chip-option>
                    }
                    @else{
                        <mat-chip-option (selectionChange)="onEspecialidadSeleccionada(esp, $event)">{{ esp | uppercase}}</mat-chip-option>
                    }
                }
            </mat-chip-listbox>
        </div>

            <!-- ESPECIALISTA: DISPONIBILIDAD -->
        @if(especialista){
        <div>
            <h3>Mis horarios</h3>
            <section> 
            @if(especialista.disponibilidad){
            
                <select name="test" (change)="onDiaChange(especialidadSeleccionada, $event)">
                    <option value="lunes" selected>Lunes</option>
                    <option value="martes">Martes</option>
                    <option value="miercoles">Miércoles</option>
                    <option value="jueves">Jueves</option>
                    <option value="viernes">Viernes</option>
                    <option value="sabado">Sábado</option>
                    <option value="domingo">Domingo</option>
                </select>
                <button (click)="ModificarHorario(especialidadSeleccionada, diaSeleccionado )" style="background-color: #5fbae9;" >  <fa-icon [icon]="faGear" >  </fa-icon> </button>
                <br>
                    @if (diaSeleccionado) {
                
                        <br>
                            @if(especialista.disponibilidad[especialidadSeleccionada][diaSeleccionado]){
                                @if(especialista.disponibilidad[especialidadSeleccionada][diaSeleccionado].length>0){
                                    @for (franja of especialista.disponibilidad[especialidadSeleccionada][diaSeleccionado]; track $index) {
                                        <li>
                                            Inicio De Atención: {{ franja.desde }}  
                                            <br>
                                            Cantidad de Turnos: {{ franja.totalTurnos }}
                                        </li>
                                    }
                                }
                                @else {
                                    <li> N/A </li>   
                                }

                            }
                            @else {
                                <li> N/A </li>
                            }
                    } 
            }
            </section>
        </div>
        }
        
     } 
     
    <!-- PACIENTE -->
     @if(paciente){
        <div >
            <h3>Obra Social: </h3>
            <p>{{ paciente.ObraSocial }}</p>
        </div>
        <br>
        
        
        
     }
     <section class="botonesFooter">
            <button mat-button matTooltip="MisTurnos"  routerLink="/misturnos" > <fa-icon [icon]="faCalendarDays" class="fa-5x"> </fa-icon>  </button>
            @if(paciente){
                <button mat-button matTooltip="Generar Mi Historial"  (click)="generarHistoriaClinicaPDF()"> <fa-icon [icon]="faFilePdf" class="fa-5x" > </fa-icon>  </button>
            }
            
            <button mat-button matTooltip="Lista de Pacientes"  routerLink="/listaPacientes" > <fa-icon [icon]="faProcedures" class="fa-5x"> </fa-icon>  </button>
     </section>
    

  </mat-card-content>
</mat-card>
