.perfil-card {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.activo {
  color: green;
  font-weight: bold;
}

.inactivo {
  color: red;
  font-weight: bold;
}

mat-chip {
  margin: 5px;
}