:host{
    display: flex;
    flex-direction:row;
    justify-items: center;
}
.ActualizarEstados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin: auto;
}
.Informacion{
    text-align: center;
    width: 60%;
    margin: auto;
}
