:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 250px;
}
.botones {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
input.nroTurnos{
    width: 20px;
}